name: python-greetings

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
  workflow_dispatch:

jobs:
  install-pip-deps:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Print install-pip-deps
        run: echo Installing pip dependencies
      #- name: Clone python-greetings
      #  run: clone https://github.com/mtararujs/python-greetings
  deploy-to-dev:
    needs: [install-pip-deps]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print deploy-to-dev
        run: echo Deploying to dev
  tests-on-dev:
    needs: [deploy-to-dev]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print tests-on-dev
        run: echo Testing on dev   
  deploy-to-staging:
    needs: [tests-on-dev]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print deploy-to-staging
        run: echo Deploying to staging
  tests-on-staging:
    needs: [deploy-to-staging]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print tests-on-staging
        run: echo Testing on staging
  deploy-to-preprod:
    needs: [tests-on-staging]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print deploy-to-preprod
        run: echo Deploying to preprod
  tests-on-preprod:
    needs: [deploy-to-preprod]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print tests-on-preprod
        run: echo Testing on preprod
  deploy-to-prod:
    needs: [tests-on-preprod]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print deploy-to-prod
        run: echo Deploying to prod 
  tests-on-prod:
    needs: [deploy-to-prod]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print tests-on-prod
        run: echo Testing on prod
  
