name: python-greetings

defaults:
  runs-on: self-hosted

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
  workflow_dispatch:

jobs:
  install-pip-deps:
    strategy:
      max-parallel: 1
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print install-pip-deps
        run: echo install-pip-deps
  deploy-to-dev:
    strategy:
      max-parallel: 1
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print deploy-to-dev
        run: echo deploy-to-dev
  tests-on-dev:
    strategy:
      max-parallel: 1
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print tests-on-dev
        run: echo tests-on-dev   
  deploy-to-staging:
    strategy:
      max-parallel: 1
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print deploy-to-staging
        run: echo deploy-to-staging
  tests-on-staging:
    strategy:
      max-parallel: 1
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print tests-on-staging
        run: echo tests-on-staging
  deploy-to-preprod:
    strategy:
      max-parallel: 1
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print deploy-to-preprod
        run: echo deploy-to-preprod
  tests-on-preprod:
    strategy:
      max-parallel: 1
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print tests-on-preprod
        run: echo tests-on-preprod
  deploy-to-prod:
    strategy:
      max-parallel: 1
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print deploy-to-prod
        run: echo deploy-to-prod  
  tests-on-prod:
    strategy:
      max-parallel: 1
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Print tests-on-prod
        run: echo tests-on-prod
  
