name: python-greetings

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
  workflow_dispatch:

jobs:
  install-pip-deps:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3.5.2
      - uses: ./.github/actions/deps
  deploy-to-dev:
    needs: [install-pip-deps]
    runs-on: self-hosted
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Print deploy-to-dev
        run: echo Deploying to dev
      - name: Clone python-greetings
        run: git clone https://github.com/mtararujs/python-greetings ./python-greetings
      - name: Restart python-greetings app
        run: |
          cd python-greetings
          pm2 delete --silent greetings-app-dev "&" set "errorlevel=0"
          pm2 start app.py --name greetings-app-dev -- -- port 7001
  tests-on-dev:
    needs: [deploy-to-dev]
    runs-on: self-hosted
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Print tests-on-dev
        run: echo Testing on dev  
      - name: Clone api framework
        run: git clone https://github.com/mtararujs/course-js-api-framework  ./api-framework
      - name: Install npm
        run: |
          cd api-framework
          npm install    
      - name: Run tests
        run: |
          cd api-framework
          dir
          npm run greetings greetings_dev
  deploy-to-staging:
    needs: [tests-on-dev]
    runs-on: self-hosted
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Print deploy-to-staging
        run: echo Deploying to staging
      - name: Clone python-greetings
        run: git clone https://github.com/mtararujs/python-greetings ./python-greetings
      - name: Stop python-greetings app
        run: |
          cd python-greetings
          pm2 delete --silent greetings-app-staging "&" EXIT /B 0 
          pm2 start app.py --name greetings-app-dev -- -- port 7002
  tests-on-staging:
    needs: [deploy-to-staging]
    runs-on: self-hosted
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Print tests-on-staging
        run: echo Testing on staging
      - name: Clone api framework
        run: git clone https://github.com/mtararujs/course-js-api-framework  ./api-framework
      - name: Install npm
        run: |
          cd api-framework
          npm install    
      - name: Run tests
        run: |
          cd api-framework
          npm run greetings greetings_staging
  deploy-to-preprod:
    needs: [tests-on-staging]
    runs-on: self-hosted
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Print deploy-to-preprod
        run: echo Deploying to preprod
      - name: Clone python-greetings
        run: git clone https://github.com/mtararujs/python-greetings ./python-greetings
      - name: Stop python-greetings app
        run: |
          cd python-greetings
          pm2 delete --silent greetings-app-preprod "&" EXIT /B 0
          pm2 start app.py --name greetings-app-dev -- -- port 7003
  tests-on-preprod:
    needs: [deploy-to-preprod]
    runs-on: self-hosted
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Print tests-on-preprod
        run: echo Testing on preprod
      - name: Clone api framework
        run: git clone https://github.com/mtararujs/course-js-api-framework  ./api-framework
      - name: Install npm
        run: |
          cd api-framework
          npm install  
      - name: Run tests
        run: |
          cd api-framework
          npm run greetings greetings_preprod
  deploy-to-prod:
    needs: [tests-on-preprod]
    runs-on: self-hosted
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Print deploy-to-prod
        run: echo Deploying to prod 
      - name: Clone python-greetings
        run: git clone https://github.com/mtararujs/python-greetings ./python-greetings
      - name: Stop python-greetings app
        run: |
          cd python-greetings
          pm2 delete --silent greetings-app-prod "&" EXIT /B 0
          pm2 start app.py --name greetings-app-dev -- -- port 7004
  tests-on-prod:
    needs: [deploy-to-prod]
    runs-on: self-hosted
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Print tests-on-prod
        run: echo Testing on prod
      - name: Clone api framework
        run: git clone https://github.com/mtararujs/course-js-api-framework  ./api-framework
      - name: Install npm
        run: |
          cd api-framework
          npm install  
      - name: Run tests
        run: |
          cd api-framework
          npm run greetings greetings_prod
  
